= render 'devise/shared/tab_single', tab_title: 'Resend confirmation instructions'
.login-box
  .login-body
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'gl-show-field-errors' }) do |f|
      .devise-errors
        = render "devise/shared/error_messages", resource: resource
      .form-group
        = f.label :email
        = f.email_field :email, class: "form-control gl-form-input", required: true, title: 'Please provide a valid email address.', value: nil
      .clearfix
        = f.submit "Resend", class: 'gl-button btn btn-success'

.clearfix.prepend-top-20
  = render 'devise/shared/sign_in_link'
